# ignore __pycache__ files
**/__pycache__/

# ignore compiled files
**/build
*.so
*.pyd
*.pyc

# ignore cython annotation
colibri_image_reader.html
colibri_photometry.html

# ignore logs directory
**/logs

# ignore misc files
*.toc
*.zip
PyFocus/PyFocus.spec

# ignore weather script identity notification
ACPScripts/WhichWeatherScript.txt